.posts__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    min-height: 100dvh;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 3rem;
    height: auto;
}
.card__container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    min-width: 25rem;
    height: 40dvh;
    padding: 1rem 2rem;
    margin: 0;
    border-radius: 15px;
    filter: drop-shadow(0 0 0.66rem rgb(108, 108, 108));
    overflow: hidden;
    transition: transform .3s ease-in-out;
    overflow: hidden;
}
.card__container:hover{
    filter: drop-shadow(0 0 0.40rem rgba(217, 217, 217, 0.784));
}
.img__container{
    overflow: hidden;
}
.card__container:hover img{
    object-fit: cover;
    overflow: hidden;
    filter: saturate(28%);
    transform: scale(1.2);
    transition:  1s ease-in-out;
}
.img__container img{
    width: 439px;
    height: 25dvh;
    object-fit: cover;
}
.card__title{
    font-size: 1.7rem;
}
.card__container p{
    font-size: 1.3rem;
    margin: 0;

}


/* @media screen and (max-width:800px) {
    .posts__container{
        flex-direction: column;
    }
} */